{# FILE: templates/dynamic_page/scroll_view/sidebar/sidebar_header.html.j2 #}
{# 功能: (滚动模式专用) 定义侧边栏的头部组件，即切换按钮。 #}

<button id="sidebar-toggle" aria-label="Toggle Navigation">
    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15 18L9 12L15 6" />
    </svg>
</button>